<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #213040;"> <!-- Используем ваш цвет фона -->
    <div class="container-fluid px-3 px-md-4 px-lg-5">
        <div class="d-flex flex-column flex-lg-row justify-content-between w-100">
            <div class="d-flex align-items-center mb-2 mb-lg-0">
                <a class="navbar-brand fs-4 fw-bold" href="/">Логистика BIZON</a>
                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="d-flex flex-column flex-lg-row w-100 w-lg-auto">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto me-lg-4">
                        <li class="nav-item">
                            <a class="nav-link fs-6" href="/orders">Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-6" href="/clients">Клиенты</a>
                        </li>
                    </ul>
                </div>

                <div class="d-flex align-items-center">
                    <span class="navbar-text me-3 text-light d-none d-lg-block">
                        Привет, <%= typeof session !== 'undefined' && session.username ? session.username : 'Админ' %>!
                    </span>
                    <span class="navbar-text me-3 text-light d-lg-none">
                        <%= typeof session !== 'undefined' && session.username ? session.username : 'Админ' %>
                    </span>
                    <ul class="navbar-nav mb-0">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-light btn-sm py-1 px-3" href="/logout">Выйти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>